<h1>Clients</h1>
<% @clients.each do |client| -%>
<p><%= link_to client.name, client_path(client) %> - <%= link_to 'Projects', client_projects_path(client)%> - <%= link_to 'Delete', client_path(client), :method => :delete%></p>	
<% end -%>

<%= link_to 'New client', new_client_path %>